.chessboard {
    margin: 80px auto;
    background: #794300;
    outline: 1px solid black;
    border-collapse: collapse;
}
.chessboard tr:nth-of-type(2) > td:nth-of-type(n+2){
border-top: 1px solid black;
}
.chessboard tr:nth-of-type(9) > td:nth-of-type(n+2){
border-bottom: 1px solid black;
}
.chessboard tr:nth-of-type(n+2) > td:nth-of-type(2){
border-left: 1px solid black;
}
.chessboard tr:nth-of-type(n+2) > td:nth-of-type(2){
border-left: 1px solid black;
}
.chessboard tr:nth-of-type(n+2) > td:nth-of-type(9){
border-right: 1px solid black;
}

.chessboard tr:nth-of-type(n+2) > td:last-of-type{
border: none;
    background-color: white;
}
.chessboard tr:last-of-type > td:nth-child(n+1){
border: none;
        background-color: white;
}

td {
    width: 50px; 
    height: 50px;
     
}
tr:nth-child(2n+2) td:nth-child(2n+2),
tr:nth-child(2n+3) td:nth-child(2n+3) {
   background: #fff1bf;
}

.letters > td{
    width: unset; 
    height: 20px;
background: white;
text-align: center;
}

tr td:first-of-type, td:last-of-type{
  width: 20px; 
background: white;
text-align: center;
}
p{
margin: 0;
transform: rotate(180deg);
}
tr > td:first-of-type {
    background-color: white;
   
}
